# Environnement
# VITE_APP_URL=http://localhost:5173
# VITE_API_BASE_URL=http://localhost:5173
# VITE_BASE_URL=/

# Informations du site
# VITE_APP_TITLE=Votre Titre
# VITE_APP_DESCRIPTION=Votre Description

# URLs des réseaux sociaux
# VITE_GITHUB_URL=https://github.com/votre-compte
# VITE_LINKEDIN_URL=https://linkedin.com/in/votre-compte
# VITE_TWITTER_URL=https://twitter.com/votre-compte